.ssfirstbtn {
    margin-top: 70px;
    width: 230px;
    height: 59px;
    border-radius: 15px;
    border: 2px solid #3d1659;
    color:#3d1659;
    outline: none;
}
.ssbtn {
    margin-left: 10%;
    :hover{
        background-color: #3d1659;
        color: white;
        cursor: pointer;
    }
}
.sstextbtn {
    font-family: FuturaPt-Bold;
    font-size: 25px;
    
}
@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('/b2b-cluster/src/assets/fonts/FuturaPT-Bold.eot');
}
@media screen and (max-width: 800px ) {
    .ssbtn {
        margin: 0;
        text-align:center;
    }
    .ssfirstbtn {
        margin-top: 50px;
        width: 300px;
        height: 70px;
    }
    .sstextbtn {
        font-size: 30px;
    }
}
@media screen and (max-width: 500px ) {
    .ssbtn {
        margin: 0;
        text-align:center;
    }
    .ssfirstbtn {
        margin-top: 50px;
        width: 200px;
        height: 50px;
    }
    .sstextbtn {
        font-size: 20px;
    }
}