.bo-form-container{
  margin: 30px 0;
  max-width: 450px;
  min-width: 300px;
  width: 100%;
  height: available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(100deg, #642292, #8f3899);
  border-radius: 35px;
  flex-grow: 1;

  .title{
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-weight: normal;
    font-size: 18px;
  }

  .bo-form{
    width: calc(100% - 20px);
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    .bo-input-form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .submit-button{
        margin: 10px 0;
        border: none;
        background-color: rgba(255, 255, 255, 0.51);
        padding: 10px;
        color: #642292;
        font-size: 16px;
        font-weight: bolder;
        border-radius: 10px;
        outline: none;
        transition: 200ms ease all;

        &:hover{
          transform: scale(1.05);
          transition: 200ms ease all;
        }
      }
    }
  }
}