@import "../../assets/styles/fonts";
@import "../../assets/styles/colors";

.bo-form-container{
  margin: 30px 10px;
  max-width: 500px;
  min-width: 300px;
  width: calc(100% - 20px);
  height: available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(130deg, $font-color, $font-color-semitransparent);
  border-radius: 50px;
  flex-grow: 1;
  font-family: $font-medium;

  .title{
    margin-top: 20px;
    margin-bottom: 10px;
    color: $main-color;
    font-weight: normal;
    font-size: 24px;
    max-width: 80%;
    text-align: center;
  }

  .bo-form{
    width: calc(100% - 20px);
    margin: 10px 0;
    //background-color: rgba(255, 255, 255, 0.36);
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    .bo-input-form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .submit-button{
        margin: 10px 0;
        border: none;
        background-color: rgba(255, 255, 255, 0.51);
        padding: 15px 50px;
        color: $font-color;
        font-size: 18px;
        font-family: $font-bold;
        text-transform: uppercase;
        outline: none;
        transition: 200ms ease all;

        &:hover{
          transform: scale(1.05);
          transition: 200ms ease all;
        }
      }
    }
  }
}