.ssdec {
    color:#3d1659;
    font-family: FuturaPt-Bold;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}
.ssdec1 {
    color:#3d1659;
    font-family: FuturaPt-Bold;
    font-size: 20px;
    text-align: center;
    width: 60%;
    margin-left: 20%;

}
.ssdecision {
    padding-top: 100px;
}
.sstop {
    display: flex;
    padding-top: 50px;
}
.sscenter {
    display: flex;
}
.ssbottom {
    display: flex;
}
.ssblock1 {
    padding-top: 100px;
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-image: url('../../assets/comun.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
}
div.ssblock1:hover {
    transform: scale(1.05);
    transition: 300ms ease all;
}
.ssblock2 {
    background-image: url('../../assets/01.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-color: #f8fbff;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
}
div.ssblock2:hover {
    transform: scale(1.05);
    transition: 300ms ease all;
}
.ssblock3 {
    background-image: url('../../assets/02.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-color: #f8fbff;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
}
div.ssblock3:hover {
    transform: scale(1.05);
    transition: 300ms ease all;
}
.ssblock4 {
    background-image: url('../../assets/03.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-color: #f8fbff;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
}
div.ssblock4:hover {
    transform: scale(1.05);
    transition: 300ms ease all;
}
.ssblock5 {
    background-image: url('../../assets/05.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-color: #f8fbff;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
}
div.ssblock5:hover {
    transform: scale(1.05);
    transition: 300ms ease all;
}
.ssblock6 {
    background-image: url('../../assets/About.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-color: #f8fbff;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
}
div.ssblock6:hover {
    transform: scale(1.05);
    transition: 300ms ease all;
}
.ssblock7 {
    background-image: url('../../assets/Hero.svg');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 100px;
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-color: #f8fbff;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
}
div.ssblock7:hover {
    transform: scale(1.05);
    transition: 300ms ease all;
}
.ssblock8 {
    background-image: url('../../assets/comun.jpg');
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-color: #f8fbff;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
    padding-top: 100px;
}
div.ssblock8:hover {
    transform: scale(1.05);
    transition: 300ms ease all;
}
.ssblock9 {
    width: 30%;
    height: 300px;
    transition-duration: 250ms;
    margin:30px;
    background-color: #f8fbff;
    border: 3px solid;
    border-image: 10 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #3d1659 20px, #3d1659 30px,transparent 30px, transparent 40px);
    padding-top: 40px;
    text-align: center;
}
div.ssblock9:hover {
    transform: scale(1.05);
    transition: 300ms ease all;

}
.sstop div {
    cursor: pointer;
}
.ssbottom div {
    cursor: pointer;
}
.sscenter div {
    cursor: pointer;
}
.text {
    font-size: 30px;
    color:#3d1659;
    font-family: FuturaPt-Bold;
    border: none;
}
.sstop div {
    text-align: center;
    outline: none;
}
.sscenter div {
    text-align: center;
    outline: none;
}
.ssbottom div {
    text-align: center;
    outline: none;
}
.btn2 {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .sstop {
        display: block;
        margin-top: 5%;
        margin-left: 5%;
        align-items: center;
    }
    .ssblock1 {
        width: 80%;
    }
    .ssblock2 {
        width: 80%;
    }
    .ssblock3 {
        width: 80%;
    }
    .ssblock4 {
        width: 80%;
    }
    .ssblock5 {
        width: 80%;
    }
    .ssblock6 {
        width: 80%;
    }
    .ssblock7 {
        width: 80%;
    }
    .ssblock8 {
        width: 80%;
    }
    .ssblock9 {
        width: 80%;
    }
    .sscenter {
        display: block;
        margin-top: 5%;
        margin-left: 5%;
    }
    .ssbottom {
        display: block;
        margin-top: 5%;
        margin-left: 5%;
    }
}
@media screen and (max-width:400px) {
    .sstop div {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }
    .sscenter div {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }
    .ssbottom div {
        margin: 0px 0px 10px 0px;
        width: 100%;
    }
}
