@import "../../assets/styles/fonts";
@import "../../assets/styles/colors";

.bo-partners-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .bo-partners-title{
    font-family: $font-medium;
    color: $font-color;
    margin: 30px 0;
  }

  .bo-partners-images-container{
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}