.bo-logo{
  background-image: url("../../assets/logo.svg");
  height: 57px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  margin: 3px;
  margin-right: auto;
}
.bo-logo:hover {
  cursor: pointer;
}