.example{
  text-align: center;
  line-height: 50px;
  margin: 10px;
  color: thistle;
  background: linear-gradient(rgba(102, 51, 153, 0.7), rgba(205, 92, 92, 0.7));
  width: 200px;
  height: 50px;
}