.generalfooter {
    width: 100%;
    background-color: #f8fbff;
}
.titlefooter {
    color:#3d1659;
    font-family: FuturaPt-Bold;
    font-size: 30px;
    font-weight: bolder;
}
.ssgeneralinfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info1 {
    display: block;
    color:#3d1659;
    font-family: FuturaPt-Bold;
    font-size: 25px;
    margin-left: 15%;
    padding-top: 50px;
}
.info2 {
    margin-top: 80px;
    display: block;
    color:#3d1659;
    font-family: FuturaPt-Bold;
    font-size: 25px;
    margin-right: 15%;
    padding-top: 50px;
}
.titlefooter {
    padding-top: 70px;
    text-align: center;
}
.footlogo {
    background-image: url("../../assets/logo.svg");
    height: 57px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    margin-bottom: 23px;
}