.generalfooter {
    width: 100%;
    background-color: #f8fbff;
}
.titlefooter {
    color:#3d1659;
    font-family: FuturaPt-Bold;
    font-size: 30px;
    font-weight: bolder;
}
.ssgeneralinfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.info1 {
    display: block;
    color:#3d1659;
    font-family: FuturaPt-Bold;
    font-size: 25px;
    margin-left: 15%;
    padding-top: 50px;
    width: 100%;
}
.info2 {
    margin-top: 80px;
    display: block;
    color:#3d1659;
    font-family: FuturaPt-Bold;
    font-size: 25px;
    margin-right: 10%;
    padding-top: 50px;
    width: 100%;
}
.titlefooter {
    padding-top: 70px;
    text-align: center;
}
.footlogo {
    background-image: url("../../assets/logo.svg");
    height: 57px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    margin-bottom: 23px;
}
@media screen and (max-width:1200px) {
    .ssgeneralinfo {
        display: flex;
        justify-content: space-around;
    }
    .info1 {
        margin-left: 10%;
    }
    .info2 {
        margin-right: 10%;
    }
}
@media screen and (max-width:700px) {
    .ssgeneralinfo {
        display: block;
    }
    .info2 {
        margin: 0;
        text-align: center;
    }
    .info1 {
        margin: 0;
        text-align: center;
    }
    .footlogo {
        margin-left: 30%;
    }
}