.sssecondbtn {
    background-color: blueviolet;
    padding-right: 0;
    width: 20px;
    border: 2px solid #3d1659;
    outline: none;
}
.sssecbtn  {
    margin-left: 95%;
    margin-top: none;
}
.ssscbtn {
    margin: none;
    border: none;
}