.sscontent {
    width: 100%;
    margin-top: 125px;
    display: flex;
    background-color: #f8fbff;
}
.sscontent1 {
    margin-left: 10%;
    width: 50%;
    color: #3d1659;
    font-family: FuturaPt-Bold;
    font-size: 19px;
}
.sstext {
    padding-top: 30px;
    width: 80%;
    font-weight: bolder;
    font-size: 30px;
    padding-left: 100px;
    padding-bottom: 10px;
}
.sstext1 {
    width: 80%;
    padding-top: 20px;
    padding-left: 100px;
    font-size: 25px;

}
.ssexamp {
    background-image: url('../../assets/example-28.svg');
    background-size: 110%;
    background-repeat: no-repeat;
    width: 50%;
    margin-right: 10%;
    min-height: 500px;
}

@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('/b2b-cluster/src/assets/fonts/FuturaPT-Bold.eot');
}
@media screen and (max-height: 768px ) {
    .sscontent { 
        margin-bottom: 50px;  
    }
    
}
@media screen and (min-height: 1024px ) {
    .sscontent {
        width: 100%;
        margin-top: 180px;  
        margin-bottom: 100px;
          
    }
    .sscontent1 {
        width: 100%;
        margin: 0;
    }
    .ssexamp {
        width: 100%;
    }
    
}
@media screen and (max-width: 800px ) {
    .sscontent1 {
        width: 80%;
        margin-bottom: 100px;
    }
    .sscontent {
        display: block;
    }
    .sstext {
        width: 100%;
    }
    .sstext1 {
        width: 100%;
    }
    .ssexamp {
        width: 80%;
        margin-left: 10%;
    }
}